::-webkit-scrollbar {
  cursor: pointer;
  width: rem(10);
  background: get-color(black);
}

::-webkit-scrollbar-thumb {
  border-radius: rem(50);
  background: linear-gradient(
    90deg,
    transparent 0%,
    get-color(red) 40%,
    get-color(red) 20%,
    transparent
  );
}
