/* 사용자 정의 초기화 (reset) ------------------------------------------------------- */

.resetBox {
  margin: 0;
  border: 0;
  padding: 0;
}

.resetImg {
  @include reset-img();
}

.rwdContent {
  @include rwd-content();
}

.resetList {
  @include reset-list();
}

.resetButton {
  @include reset-button();
}

.resetLink {
  @include reset-link();
}

.resetAbbr {
  @include reset-abbr();
}

.resetDl dt,
.resetDl dd {
  margin-left: 0;
}

.resetAddress {
  font-style: normal;
}
