@include selection() {
  background: get-color(darkgray);
  color: get-color(yellow);
}

@include selection(img) {
  background: transparent;
  color: inherit;
}

@include selection('.Link') {
  background: transparent;
  color: inherit;
}
