:root {
    font-size: 10px;
}


body {
    font-size: 16px;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    min-width: 375px;
    height: 556px;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--netflix-black);
}

body * {
    box-sizing: inherit;
}

.a11yHidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    /* clip-path: inset(50%); */
    clip-path: circle(0%);
    width: 1px;
    height: 1px;
    margin: -1px;
    white-space: nowrap;
}

.container {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

abbr {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0%);
    width: 1px;
    height: 1px;
    margin: -1px;
    white-space: nowrap;
    /* font-variant: all-small-caps; */
}