/* --------------------- 헤더 디자인 */
.netflixHeader .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 66px;
}

/* --------------------- 홈 링크 */
.netflixHeader__homeLink img {
    width: 74px;
}

/* --------------------- 로그인 링크 */
.netflixHeader__loginlink {
    background-color: var(--netflix-red);
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--netflix-white);
    padding: 0.75em 1em;
    border-radius: 4px;
}

.netflixHeader__loginlink:hover {
    background-color: var(--netflix-vivid-red);
}

.netflixHeader__loginlink:focus {
    background-color: var(--netflix-vivid-red);
    border: solid 3px var(--netflix-focus-visible);
}

/* --------------------- ourStory */

.ourStory {
    /* background-image: url(../assets/Cover.jpg); */
}

.ourStory .container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    /* background-color: var(--netflix-black); */
}

.ourStory__headline {
    width: 31.7rem;
    margin-top: 5rem;
    font: bold 3rem spoqaHanSans;
    color: var(--netflix-white);
    line-height: 120%;
}

.ourStory__description {
    width: 24.4rem;
    margin-top: 3rem;
    font: bold 1.5rem spoqaHanSans;
    color: var(--netflix-white);
    line-height: 130%;
}

.ourStory__emailRegistration {
    width: 27.3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font: normal 1.3rem spoqaHanSans;
    color: var(--netflix-white);
    line-height: 135%;
    text-align: center;
}

.ourStory__promotionInfo { 
    margin-top: 1.5rem;
    margin-bottom: 5.1rem;
    font: normal 1.2rem spoqaHanSans;
    color: var(--netflix-white);
    line-height: 135%;
}

/* --------------------- ourStory 인풋 디자인 */
.promotion__emailContainer {
    display: inline;
    position: relative;
}

.promotion label {
    position: absolute;
    left: 2rem;
    font: normal 1.3rem spoqaHanSans;
    line-height: 4rem;
    color: var(--netflix-gray);
}

.promotion input {
    width: 22.8rem;
    height: 4rem;
    border-radius: 50px;
}

.promotion button {
    background-color: var(--netflix-red);
    font: normal 1.2rem spoqaHanSans;
    line-height: 135%;    
    color: var(--netflix-white);
    padding: 0.9375em 1.25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 90px;
}

/* --------------------- netflixIntro */

.netflixIntro {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--netflix-white);
}

.netflixIntro h4 {
    font: bold 2.4rem spoqaHanSans;
    line-height: 120%;
    /* color: var(--netflix-white); */
}

.netflixIntro p {
    margin-top: 30px;
    font: normal 1.6rem spoqaHanSans;
    line-height: 150%;
    /* color: var(--netflix-white); */
}

.netflixIntro__figure {
    position: relative;
}

/* --------------------- netflixIntro__watchOnTV */
.netflixIntro__watchOnTV {
    display: flex;
    flex-flow: column wrap;
    padding: 8rem 0;
}

.netflixIntro__figure {
    position: relative;
}

.netflixIntro__watchOnTV img {
    z-index: 100;
    width: 338px;
}

.netflixIntro__watchOnTV video {
    position: absolute;
    top: 52px;
    left: 43px;
    z-index: 10;
    width: 250px;
}

/* --------------------- netflixIntro__downLoadAndWatch */

.netflixIntro__downLoadAndWatch--reverse {
    display: flex;
    flex-flow: column wrap;
    padding: 8rem 0;
}

.netflixIntro__downLoadAndWatch--reverse .girlImage {
    position: relative;
    z-index: 100;
    width: 338px;
}

.netflixIntro__downloadContent {
    position: absolute;
    left: 63px;
    bottom: 14px;
    z-index: 100;
    width: 212px;
    height: 55px;
    background-color: var(--netflix-black);
}


.netflixIntro__downloadContent .posterStrangerThings {
    position: absolute;
    top: 6px;
    left: 12px;
    width: 30px;
    height: 43px;
}

.netflixIntro__downloadContent p {
    position: absolute;
    top: 14px;
    left: 53px;
    margin: 0;
    font: bold 1rem spoqaHanSans;
    line-height: 120%;
    text-align: left;
}

p .stateMessage {
    /* position: absolute;
    top: 27px;
    left: 53px; */
    font: bold 0.8rem spoqaHanSans;
    line-height: 150%;
    color: #074C9E;
    text-align: left;
}

.netflixIntro__downloadContent .downloadIcon {
    position: absolute;
    top: 11px;
    right: 11px;
}

/* --------------------- netflixIntro__watchOnDevice */

.netflixIntro__watchOnDevice {
    display: flex;
    flex-flow: column wrap;
    padding: 8rem 0;
}

.netflixIntro__watchOnDevice img {
    position: relative;
    z-index: 100;
    width: 338px;
}

.netflixIntro__watchOnDevice video {
    position: absolute;
    top: 27px;
    left: 65px;
    z-index: 10;
    width: 207px;
}

/* --------------------- netflixFAQ */

.netflixFAQ {
    color: var(--netflix-white);
}

.netflixFAQ .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.netflixFAQ h3 {
    font: bold 2.4rem spoqaHanSans;
    line-height: 120%;
    margin-bottom: 3rem;
}

.FAQListContainer {
    display: inline-block;
    margin-bottom: 2rem;
}


.netflixFAQ__FAQList {
    display: flex;
    flex-flow: column nowrap;
}

.FAQListItem {
    margin-bottom: 0.5rem;
}

.FAQListItem dt {
    font: normal 1.5rem spoqaHanSans;
    line-height: 120%;
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
    padding-left: 3rem;
    position: relative;
    margin-bottom: 0.1rem;
    background-color: var(--netflix-dark-gray);
}

.FAQListItem dt img {
    width: 0.85rem;
    display: inline-block;
    position: absolute;
    right: 3rem;
}

.FAQListItem dd {
    padding: 2.1rem 3rem;
    font: normal 1.4rem spoqaHanSans;
    line-height: 150%;
    background-color: var(--netflix-dark-gray);
}

.FAQComponentContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 8rem;
}

/* --------------------- netflixFooter */

.netflixFooter {
    color: var(--netflix-gray);
}

.netflixFooter p {
    font: bold 2rem spoqaHanSans;
    line-height: 140%;
}

.netflixFooter__infoList {
    display: flex;
    flex-flow: row wrap;
    font: normal 1.3rem spoqaHanSans;
    line-height: 120%;
    padding-right: 1.9rem;
    width: 33.9rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.netflixFooter__infoList li {
    width: 16rem;
    margin-bottom: 1.3rem;
}

.netflixFooter__infoList li:last-child {
    margin-bottom: 0;
}

.addressInfoHead {
    font: bold 1.6rem spoqaHanSans;
    line-height: 120%;
    margin-bottom: 2rem;
}

.addressInfo {
    font: normal 1.3rem spoqaHanSans;
    line-height: 200%;
    width: 28rem;
}

.addressInfo a {
    display: inline;
}

.addressInfo {
    display: inline-block;
    margin-bottom: 4rem;
}


/* --------------------- 반응형 웹 */
@media (min-width: 750px) {
    .container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }

    /* ---------- ourStory 인풋 디자인 */
    .promotion {
        width: 74rem;
    }

    .promotion label {
        font-size: 1.6rem;
    }    

    .promotion input {
        width: 54rem;
        border-radius: 0;        
    }
    .promotion button {
        display: inline;
        margin: 0;
        border-radius: 0;
        margin-left: -0.4rem;
        height: 4rem;
        padding-top: 0.8em;
        /* font-size: 2.2rem; */
        width: 20rem;
    }

    /* ---------- netflixFooter */
    .netflixFooter {
        padding: 7rem 4.5rem 0 4.5rem;
    }

    .netflixFooter p {
        display: inline;
    }

    .netflixFooter p a {
        display: inline;
    }

    .netflixFooter__infoList {
        width: 100%;
    }

    .addressInfo {
        width: 100%;
    }
}