.Accordion {
  max-width: rem(1440);
  background: get-color(darkGray);

  .AccordionHead {
    position: relative;
    line-height: 1.2;
    @include flex-c(row nowrap justify-between items-center);
    @include fsp(15, 11 12);

    @include media('>=lg') {
      border-bottom: 3.3px solid get-color(black);
      font-size: rem(32);
    }
  }

  .AccordionButton {
    width: 100%;
    background: inherit;
    border: 0;
    @include flex-c(row nowrap justify-end items-center);
    @include position(absolute, top 0 right 0 bottom 0 z-index 100);

    img {
      pointer-events: none;
      width: rem(9);
      height: auto;
      margin-right: rem(9);
      transition: all 0.3s ease(in-sine);

      @include media('>=lg') {
        width: rem(22.5);
        @include m(r rem(32));
      }
    }
  }

  .AccordionBody {
    overflow: hidden;
    height: 0;
    border-bottom: 5px solid get-color(black);
    padding: 0;
    transition: all 0.3s ease(in-sine);
    @include font(size rem(13) lh 1.7);

    @include media('>=lg') {
      border-bottom: 7px solid get-color(black);
      font-size: rem(26);
    }

    p {
      @include m(b 0);
    }

    P:first-child {
      @include m(t 0);
    }
  }

  .AccordionItem--open {
    img {
      transform: rotate(45deg);
    }

    .AccordionBody {
      height: 100%;
      @include px(12);
      @include py(11);

      @include media('>=lg') {
        @include px(30);
        @include py(21);
      }
    }
  }
}
