.downloadContent {
  position: absolute;
  bottom: 16px;
  left: 50%;
  width: rem(212px);
  border: 1px solid get-color(gray);
  border-radius: 5px;
  background: get-color(black);
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  @include p(y rem(6) x rem(12));

  @include media('>=x-lg') {
    width: rem(302);
    // 다시 보기
    // @include grid-container-append($cols: 1fr rem(147) 1fr);
    @include p(y rem(12) x rem(16));
  }

  .Section__title {
    @include media('>=lg') {
      max-width: rem(530);
    }

    @include media('>=x-lg') {
      max-width: rem(1200);
    }
  }

  .posterStrangerThings {
    width: rem(30);
    height: auto;
    @include m(r rem(11));

    @include media('>=x-lg') {
      width: rem(60);
      @include m(r rem(16));
    }
  }

  .downloadMessage {
    flex: 1;
    // @include my(rem(8) 0);
    @include font(size rem(10) weight bold);

    @include media('>=x-lg') {
      // @include m(t rem(24));
      font-size: rem(14px);
    }
  }

  .stateMessage {
    @include m(t rem(1));
    letter-spacing: -0.04em;
    color: get-color(blue);
    @include font(size rem(8) weight 1.5);

    @include media('>=x-lg') {
      @include m(t rem(2));
      font-size: rem(12);
    }
  }

  .downloadIcon {
    // @include m(t rem(5));

    @include media('>=x-lg') {
      width: rem(47);
      height: auto;
      // @include m(t rem(19));
    }
  }
}
