.HomeLink {
  @include my(0);
  width: rem(74px);
  height: rem(20px);
  font-size: rem(10px);

  @include media('>=lg') {
    width: rem(140px);
    height: rem(38px);
  }

  a {
    display: block;
  }
}
