.Info {
  .InfoList {
    @include grid-c($cols: 2);
    @include auto-cols(fr); /* 유지 보수를 위해 설정 */

    @include media('>=md') {
      @include grid-container-append($cols: 3);
    }

    @include media('>=lg') {
      @include grid-container-append($cols: 4);
    }
  }

  .InfoItem {
    padding-bottom: em(13);
    color: get-color(gray);

    a {
      display: inline-block;
      @include fsp(13, 3);
      line-height: 1.2;

      @include media('>=lg') {
        font-size: rem(16);
      }
    }
  }
}
