.Link {
  border-radius: 3px;
  background: get-color(red);
  @include font(lh 1 weight bold);
  @include fsp(11, 5.5 7.5);

  @include media('>=lg') {
    @include fsp(16, 12 20);
  }

  &:focus {
    background: get-color(vividRed);
  }
}
