.NetflixFAQ {
  @include py(rem(20px) rem(80px));

  @include media('>=lg') {
    @include py(rem(50px) rem(94px));
    @include mx(auto);
  }

  &__title {
    text-align: center;
    color: getColor(white);
    @include font-and-line-height(24px, $line-height: 1.2);
    @include my(rem(60px) 0);
  }

  &__contianer {
    // margin-top: rem(30px);
    @include my(rem(30px) 0);
  }

  .Promotion {
    // AccordionHead의 border 값 7px 제외
    margin-top: rem(23px);

    .emailContainer {
      @include my(rem(26px) 0);
    }
  }
}
