.Promotion {
  @include media('>=lg') {
    @include p(b rem(40));
  }

  // Promotion__description
  &__description {
    text-align: center; // 컴포넌트 자체에서 가운데 정렬될 수 있도록 설정
    @include font(lh 1.35 size rem(13));
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);

    @include media('>=lg') {
      @include font(size rem(16) weight bold);
    }
  }

  &__description--noBr {
    br {
      @include media('>=lg') {
        display: none;
      }
    }
  }

  // Promotion__guide
  &__guide {
    @include my(rem(15) 0);
    @include font(lh 1.35 size rem(12));
    text-shadow: 0px 2px 6px rgba(get-color(black), 0.55);

    @include media('>=lg') {
      @include font(weight bold size rem(16));
    }
  }

  &__guide--noShow {
    @include hide();
  }
}

//* -------------------------------------------------------------------------- */

.emailContainer {
  @include flex-center();
  @include flex-c(column wrap justify-content items-center);
}

.emailContainer--row {
  @include media('>=lg') {
    @include flex-c-a(row nowrap);
    @include m(t rem(30));
  }
}

/* Promotion → Email form 스타일링 ------------------------------------------------------ */
.emailContainer {
  &__block {
    position: relative;
    width: rem(228);

    @include media('>=lg') {
      width: rem(540);
    }

    label {
      letter-spacing: -0.04em;
      color: get-color(gray);
      transition: all 0.2s ease(out-expo);
      @include font-and-line-height(13px, 1.35);
      @include position(absolute, top 12px left 15px);

      @include media('>=lg') {
        top: 18px;
        font-size: rem(16);
      }
    }

    input {
      width: 100%;
      border: 0;
      border-radius: rem(50);
      background: get-color(white);
      @include fsp(13, 14 20 11);

      @include media('>=lg') {
        border-radius: 0;
        font-size: rem(16);
        @include fsp(16, 23 20 16);
      }
    }

    input:focus + label {
      top: 3px;
      left: 20px;
      font-size: rem(11);

      @include media('>=lg') {
        top: 5px;
        left: 19px;
        font-size: rem(12);
      }
    }

    input:valid {
      color: get-color(black);
    }

    input:invalid {
      border-bottom: 3px solid get-color(red);
      color: get-color(red);
    }

    [role='alert'] {
      display: none;
      margin-top: rem(5px);
      line-height: 1.35;
      letter-spacing: -0.04em;
      font-size: rem(14px);
      font-weight: bold;
      color: get-color(red);
    }
  }

  // emailContainer____block--valid (--nvalid)
  &__block--invalid [role='alert'] {
    display: block;
    @include text(align center);

    @include media('>=lg') {
      text-align: left;
      @include p(l rem(20));
    }
  }

  &__block--valid label,
  &__block--invalid label {
    top: 3px;
    left: 20px;
    font-size: rem(11px);

    @include media('>=lg') {
      top: 5px;
      left: 19px;
      font-size: rem(12px);
    }
  }
}

/* Promotion → Email button 스타일링 -------------------------------------------- */

.emailContainer {
  button {
    @include my(rem(10) 0);
    border-radius: 50px;
    line-height: 1.35;
    letter-spacing: -0.04em;
    background: get-color(red);
    color: get-color(white);
    @include fsp(12, 10 14 8);

    @include media('>=lg') {
      cursor: pointer;
      margin-top: 0;
      border-radius: 0;
      @include fsp(22, 13.8 20);
    }

    &:hover {
      background: get-color(vividRed);
    }

    img {
      width: rem(11.14);
      margin-left: rem(10);

      @include media('>=lg') {
        width: rem(20);
      }
    }
  }

  // Desktop 버전에서 input이 `valid/invalid` 상태일 때 `button`의 높이가 변하기 때문에 높이 고정
  &__block--valid,
  &__block--invalid {
    @include media('>=lg') {
      + button {
        height: rem(60);
        align-self: flex-start;
      }
    }
  }
}
