/* Section 스타일링 ------------------------------------------------------------ */

.Section {
  position: relative; // Divider 적용을 위한 코드

  @include m(x rem(18));

  @include media('>=lg') {
    max-width: 92vw;
    @include mx(auto);
  }

  @include media('>=x-lg') {
    max-width: rem(1200);
  }
}

/* Section → Contents 스타일링 --------------- */

.Section {
  &__contents {
    text-align: center;
    @include my(rem(60) 0);
  }

  &__title {
    margin: 0;
    @include font(lh 1.2 size rem(24) weight bold);

    @include media('>=lg') {
      font-size: rem(48);
    }
  }

  &__description {
    letter-spacing: -0.04em;
    @include my(rem(30) 0);
    @include font(lh 1.5 size rem(16));

    @include media('>=lg') {
      font-size: rem(22);
      @include m(t rem(20));
    }
  }
}

/* Section → Media 스타일링 --------------- */

.Section {
  &__media {
    max-width: rem(337);
    margin: rem(10px) 0 0;
    transform: translateX(-50%);
    @include position(relative, left 50%);
  }
}

/* Section--row 스타일링 -------------------------------------------------------- */

.Section--row {
  @include media('>=lg') {
    justify-content: space-between;
    padding-bottom: rem(70);
    // 다시 보기
    // @include grid-c($cols: rem(530) rem(464));
  }

  @include media('>=x-lg') {
    // 다시 보기
    // @include grid-container-append($cols: rem(530) rem(480));
  }

  /* Section--row → Contents --------------- */

  .Section__contents {
    @include media('>=lg') {
      text-align: left;
      @include my(auto);
    }
  }

  /* Section--row → Media --------------- */

  .Section__media {
    @include media('>=lg') {
      max-width: rem(480);
      margin: 0;
    }
  }
}

/* Section--reverse 스타일링 ---------------------------------------------------- */

.Section--reverse {
  // 다시 보기
  // @include grid-container-append($cols: rem(368) rem(516));

  @include media('>=x-lg') {
    // 다시 보기
    // @include grid-container-append($cols: rem(480) rem(530));
  }

  .Section__contents {
    grid-column: 2;
  }

  .Section__media {
    @include grid-item((1, 1));
    // 다시 보기
    // @include col(1);
    // @include row(1);
  }
}
