.WatchOnDevice {
  video {
    $figureWidth: 339;
    $figureHeight: 255;

    @include position(
      absolute,
      top 28 / $figureHeight * 100% left 64 / $figureWidth * 100% z-index -10
    );
    width: 209 / $figureWidth * 100%;
  }
}
