.WatchOnTV {
  video {
    z-index: -10;
    --figureWidth: 339;
    --figureHeight: 255;

    position: absolute;
    top: calc(53 / var(--figureHeight) * 100%);
    left: calc(44 / var(--figureWidth) * 100%);
    width: calc(248 / var(--figureWidth) * 100%);
  }
}
