// codepen 예제
// https://codepen.io/yamoo9/pen/MWedKEJ?editors=0100

$SlyFox: #7f4b46;
$Babe: #e07b72;
$FruityLicious: #f69a91;
$PeachBud: #f4b2ac;
$Channel: #ebc4c1;
$WildRice: #d3bdbe;

/* ----------------------------------------------------------------------------------- */

@mixin borderRadius($radius: 4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin size($width: null, $height: null) {
  width: $width;
  height: $height;
}

@mixin fgBgColors($fgColor: null, $bgColor: null) {
  color: $fgColor;
  background: $bgColor;
}

@mixin flex(
  $justify-content: flext-start,
  $align-items: stretch,
  $flow: row nowrap
) {
  display: flex;
  flex-flow: $flow;
  justify-content: $justify-content;
  align-items: $align-items;
}

/* ----------------------------------------------------------------------------------- */

body {
  @include flex(center, center);
  @include size(100vw, 100vh);
  @include fgBgColors(
    #fff,
    linear-gradient(
      180deg,
      $SlyFox,
      $Babe,
      $FruityLicious,
      $PeachBud,
      $Channel,
      $WildRice
    )
  );
}

.box {
  @include flex(center, center);
  @include size(100px, 100px);
  @include fgBgColors(#fff, #333);
  @include borderRadius(10px);
}
