.Dropdown {
  --colorDropdownBorder: #454545;

  cursor: pointer;
  width: 11.3rem;
  height: 4.3rem;
  margin-top: 3rem;
  margin-bottom: 0;
  border: 1px solid var(--colorDropdownBorder);
  border-radius: 2px;
  padding: 0.75em 2.125em;
  line-height: 1.2;
  font-size: 1.6rem;
  color: inherit;
}

.Dropdown__arrow {
  /* 기존의 화살표 아이콘 제거 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* 화살표 스타일링 */
  background: no-repeat 91.1504% 50% url(../../assets/select_arrow.svg),
    no-repeat 8.8495% 50% url(../../assets/select_global.svg);
}
