.LinkListItem {
  line-height: 1.2;
  font-size: 1.3rem;
}

/* -------------------------------------------------------------------------- */

@media (min-width: 60em) {
  .LinkListItem {
    font-size: 1.6rem;
  }
}
