.Link {
  border-radius: 0.4rem;
  padding: 0.5rem 0.6818rem;
  line-height: 1;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  background: var(--colorRed);
  color: inherit;
  color: var(--colorWhite);
}

.Link:hover,
.Link:focus {
  background: var(--colorVividRed);
}

/* -------------------------------------------------------------------------- */

@media (min-width: 60em) {
  .Link {
    padding: 0.75rem 1.25rem;
    font-size: 1.6rem;
  }
}
