/* watchOnTV ---------------------------------------------------------------- */

.netflixIntro__watchOnTV p {
  width: 27rem;
}

.netflixIntro__watchOnTV img {
  position: relative;
  z-index: 100;
}

.netflixIntro__watchOnTV video {
  --figureWidth: 339;
  --figureHeight: 255;

  position: absolute;
  top: calc(53 / var(--figureHeight) * 100%);
  left: calc(44 / var(--figureWidth) * 100%);
  width: calc(248 / var(--figureWidth) * 100%);
}

/* -------------------------------------------------------------------------- */

@media (min-width: 60em) {
  .netflixIntro__watchOnTV video {
    /* top: 75px;
    left: 63px;
    width: 35rem; */
    /* top: 21%;
    left: 13%;
    width: 100%;
    max-width: 73%;
  } */
  }
}
