@import '../components/Description.css';
@import '../components/LinkList.css';
@import '../components/LinkListItem.css';
@import '../components/AddressInfo.css';

.netflixFooter .Container {
  align-items: end;
  min-width: 33.9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.netflixFooter {
  color: var(--colorGray);
}

.netflixFooter__links {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 0;
}

.addressInfoHead {
  margin-top: 3rem;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 1.6rem;
  font-weight: bold;
}

/* -------------------------------------------------------------------------- */

@media (min-width: 60em) {
  .netflixFooter .Container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    line-height: 1.2;
  }

  .netflixFooter__links {
    margin-top: 3.5rem;
  }

  .addressInfoHead {
    margin-top: 4rem;
    font-size: 2.2rem;
  }
}
