.Description {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 4rem;
}

.Footer__description {
  margin: 0;
}

/* -------------------------------------------------------------------------- */

@media (min-width: 60em) {
  .Description--row {
    margin-top: 5rem;
    line-height: 1.2;
  }

  .Footer__description--lineBreak {
    display: inline-block;
  }
}
