@import '../components/HomeLink';
@import '../components/Link';

.header {
  @include position(fixed, top 0 right 0 left 0 z-index 100);

  .Container {
    display: grid;
    grid-template-columns: rem(74px) rem(46px);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    @include py(rem(22px));

    @include media('>=lg') {
      grid-template-columns: rem(140px) rem(85px);
      @include my(rem(40px));
      @include py(rem(11px));
    }
  }
}
