@import '../modules/index';

// components
@import '../components/HomeLink';
@import '../components/Link';

/* -------------------------------------------------------------------------- */
.header {
  .Container {
    display: grid;
    grid-template-columns: rem(74px) rem(46px);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    @include py(rem(22px));

    @include media('>=lg') {
      grid-template-columns: rem(140px) rem(85px);
      @include my(rem(40px));
      @include py(rem(11px));
    }
  }
}
