/* 컬러 스킴 (Scheme) -------------------------------------------------------------------- */

/* 글로벌 변수(CSS 커스텀 속성 정의) */
:root {
  --colorRed: #e50914;
  --colorVividRed: #ff000d;
  --colorBlack: #010101;
  --colorGray: #757575;
  --colorDarkGray: #303030;
  --colorWhite: #ffffff;
  --colorFocusable: #3af13d;
}
