.body 
  position: relative

.main 
  +media('>=lg')  
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 5.68%, rgba(0, 0, 0, 0.3) 42.95%, rgba(0, 0, 0, 0.8) 79.3%) center / auto, url('../../assets/Cover.jpg') center / cover no-repeat
  
.login
  +Container(rem(375), auto, rem(66) rem(40))

  +media('>=lg')
    +Container(rem(440), auto, rem(160) rem(673))

  &__container 
    background: rgba(1, 1, 1, 0.6)
    +p(x rem(18))

    +media('>=lg')    
      border: 1px solid #2D2D2D
      backdrop-filter: blur(4px)
      border-radius: 6px
      max-width: rem(440)
      +p(x rem(30))

  &__headLine 
    +p(t rem(20px))
    +my(0)
    +font(size rem(20) weight bold lh 1.2)

    +media('>=lg')
      +p(t rem(30))

/* Form --------------------------------------------------------------------- */

.Form
  position: relative
  
  label
    transition: all 0.2s ease(in-sine)
    letter-spacing: -0.04em
    +position(absolute, top 19px left 20px)
    +font(size rem(16) lh 1.35)

  input 
    width: 100%
    border: 0
    /* main과 값이 다름 */
    border-radius: 5px
    color: get-color(white)
    +fsp(16, 25 20 14)
  
  input:focus + label
    +position(absolute, top 7px left 20px)
    +font(size rem(12))

  input:valid
    color: get-color(white)

  input:invalid
    border-bottom: 3px solid get-color(red)
    color: get-color(red)

  &--dark
    label
      color: get-color(lightGray)

    input 
      background: get-color(darkGray)

.Form + [role="alert"]
  display: none

.Form--invalid + [role="alert"]
  display: block
  letter-spacing: -0.04em
  color: get-color(red)
  +m(t rem(5) l rem(20))
  +font(size rem(14) weight bold lh 1.35)

    
.login
  &__email 
    +m(t rem(30))
    +media('>=lg')
      +m(t rem(20))
      

  &__password 
    +m(t rem(20))

/* login Link --------------------------------------------------------------- */

.login
  .Link 
    display: block
    border-radius: 4px
    background: get-color(red)
    +m(t rem(6))
    +fsp(16, 15 20)
    +font(lh 1 weight bold)
    +text(align center)

    &:focus 
      background: get-color(vividRed)
    

    +media('>=lg') 
      +m(t rem(30))
      +fsp(16, 15 168)

/* check box ---------------------------------------------------------------- */

.CheckBox
  position: relative

  input
    position: absolute
    height: rem(16)
    width: rem(16)
    opacity: 0
    +position(absolute, top 0 left 0)
  
  label 
    +m(l rem(21))

  label::before 
    content: ""
    height: rem(16)
    width: rem(16)
    background: get-color(white)
    +position(absolute, top 0 left 0)

  label::after
    content: ""
    border: 4px solid get-color(darkGray)
    border-left: 0
    border-top: 0
    border-radius: 3px
    height: rem(13)
    width: rem(8px)
    opacity: 0
    transform: rotate(45deg)
    transition: opacity 0.2s ease(inout-sine)
    +position(absolute, top 0 left 4px)

  input:checked + label::after 
    opacity: 1

  input:focus + label::before 
    outline: none
    box-shadow: 0 0 0 rem(3) get-color(state-focus)

/* saveAndHelp -------------------------------------------------------------- */

.saveAndHelp
  color: get-color(lightGray)
  +flex-container(row nowrap justify-between)
  +py(rem(5px) 0)
  +text(ls -0.04em)
  +font(size rem(13) lh 1.35)

  a:hover 
    color: get-color(white)

  +media('>=lg')
    +py(rem(10) 0)

/* Info --------------------------------------------------------------------- */

.loginInfo
  color: get-color(lightGray)
  +my(rem(20) 0)
  +font(size rem(12) lh 1.75)

  &__facebook
    display: flex
    color: get-color(gray)

    img
      +m(r rem(4))
    
    a
      align-self: center
      cursor: pointer
      +text(ls -0.04em)
      +font(lh 1.75)
      +my(0)

    a:hover 
      color: get-color(white)

  &__signup 
    a
      cursor: pointer
      color: get-color(white)
      +m(l rem(3))
    
    a:hover 
      text-decoration: underline

  &__captcha 
    +p(b rem(20))
    +media('>=lg')
      +p(b rem(30))
      

    .lgLineBreak 
      display: none
      +media('>=lg')
        display: block
    
    .mdLineBreak
      +media('>=lg')
        display: none
    
    .captchaButton
      padding: 0
      border: 0
      cursor: help
      color: get-color(blue)
      background: inherit
    
    .captchaButton:hover
      text-decoration: underline

// backdrop-filter 속성 참고 https://developer.mozilla.org/ko/docs/Web/CSS/backdrop-filter
.netflixFooter 
  +Container(null, rem(18), rem(20))
  +media('>=lg')
    position: absolute
    backdrop-filter: blur(4px)
    background: rgba(1, 1, 1, 0.5)
    +px(rem(18))
    +position(absolute, right 0 bottom 0 left 0 z-index 100)

    
  .addressInfo
    width: 75%
  
  .Info 
    .InfoList
      // 다시 보기
      +grid-c($cols: 2)
      /* +grid-c($cols: repeat(2, minmax(0, rem(149)))) */

      +media('>=md')
        // 다시 보기 
        +grid-container-append($cols: 4)
        /* +grid-container-append($cols: repeat(4, minmax(0, rem(150)))) */

  .Dropdown
    +media('>=lg')
      +m(t rem(50))

  .addressInfo 
    +media('>=lg')
      +m(t rem(40))
      
    
      
    
      


  
        
      


