.login
  +Container(rem(375), auto, rem(66) rem(40))

  +media('>=lg')
    +Container(rem(440), auto, rem(160) rem(673))

  &__container 
    background: rgba(1, 1, 1, 0.6)
    +p(x rem(18))

    +media('>=lg')    
      border: 1px solid #2D2D2D
      backdrop-filter: blur(4px)
      border-radius: 6px
      max-width: rem(440)
      +p(x rem(30))

  &__headLine 
    +my(rem(20px) 0)
    +font(size rem(20) weight bold lh 1.2)

    +media('>=lg')
      +m(t rem(30))