$colorRed: #e50914;
$colorVividRed: #ff000d;
$colorBlue: #0071eb;
$colorFocusVisible: #2ede75;
$colorBlack: #010101;
$colorDarkGray: #303030;
$colorGray: #757575;
$colorLightGray: #b5b5b5;
$colorWhite: #ffffff;
