/* Sass Color Map ----------------------------------------------------------- */

$colors: (
  red: #e50914,
  vividRed: #ff000d,
  blue: #0071eb,
  black: #010101,
  darkGray: #303030,
  gray: #757575,
  lightGray: #b5b5b5,
  white: #ffffff,
  focus: #2ede75,
);
