@mixin flex($mode: flex) {
  display: $mode;
}

@mixin alignItems($value: stretch) {
  align-items: $value;
}

@mixin justifyContent($value: flex-start) {
  justify-content: $value;
}

@mixin flexLayoutCenter() {
  @include flex();
  @include alignItems(center);
  @include justifyContent(center);
}
