@mixin font-and-line-height(
  $size: $base-rem-size,
  $weight: null,
  $line-height: null
) {
  font-size: rem($size);
  font-weight: $weight;
  line-height: $line-height;
}

@mixin fal($size: $base-rem-size, $weight: null, $line-height: null) {
  @include font-and-line-height($size, $weight, $line-height);
}

// 사용 방법
// $size는 반드시 입력해야 한다. null을 입력할 수 없는 이유는 rem()가 null값을 적용했을 때 오류가 나기 때문이다.
// 만약 null값을 사용하고 싶다면 rem()함수를 사용하지 말아야 한다.

// 예시
// @include font-and-line-height(12px, bold, 1.5)
// @include font-and-line-height(12px, $lineHeight: 1.35)

// Snippet
// "Sass 믹스인 font-and-line-height": {
//   "scope": "scss",
//   "prefix": "font-and-line-height",
//   "body": [
//     "@include font-and-line-height(${1:size}, ${2:weight}, ${0:line-height})"
//   ],
//   "description": "Sass 믹스인 font-and-line-height"
// },
