@mixin resetList() {
  @include padding(0);
  @include margin(top 0 bottom 0);
  list-style-type: none;
}

@mixin resetButton() {
  @include padding(0);
  user-select: none;
  cursor: pointer;
  border: 0;
  background: transparent;
}

@mixin resetImage() {
  vertical-align: middle;
}

@mixin resetLink() {
  text-decoration: none;
  color: inherit;
}
