// em, rem 단위 기본 값 설정
$base-em-size: 16px;
$base-rem-size: 16px;

// true 값일 경우, rem의 하위 호환성을 위한 px 대체 코드 추가
$polyfill: false;

//* -------------------------------------------------------------------------- */
// 컬러 스킴 설정 (`컬러-이름: 값`을 임의로 추가해 사용)
$colors: (
  red: #e50914,
  vividRed: #ff000d,
  blue: #0071eb,
  black: #010101,
  darkGray: #303030,
  gray: #757575,
  lightGray: #b5b5b5,
  white: #ffffff,
  focus: #2ede75,
);

//* -------------------------------------------------------------------------- */

// 중단점 설계 (import-media 라이브러리 활용) → 임의의 키워드 사용 가능
$breakpoints: (
  md: em(640px),
  lg: em(960px),
  x-lg: em(1300px),
  // lg에서 컨테이너의 너비가 1200px일 때 브라우저의 너비가 1300px이다. (style_report 참고)
);
