@import '@euid/scss-mixins';

// 컬러 스킴 설정 (`컬러-이름: 값`을 임의로 추가해 사용)
$colors: (
  red: #e50914,
  vividRed: #ff000d,
  blue: #0071eb,
  black: #010101,
  darkGray: #303030,
  gray: #757575,
  lightGray: #b5b5b5,
  white: #ffffff,
  state-focus: #2ede75,
  state-select: #f2ea17,
);

// 중단점 설계 (import-media 라이브러리 활용) → 임의의 키워드 사용 가능
$breakpoints: (
  md: em(640),
  lg: em(960),
  x-lg: em(1300),
  // lg에서 컨테이너의 너비가 1200px일 때 브라우저의 너비가 1300px이다. (style_report 참고)
);

/* custom mixin ------------------------------------------------------------- */
@mixin font-and-line-height($size, $line-height: null, $weight: null) {
  @include font(size $size weight $weight lh $line-height);
}

@mixin flex-center() {
  @include flex-c(column wrap justify-content items-center);
}

@mixin Container($width: null, $mx-value: null, $py-value: null) {
  max-width: $width;
  @include mx($mx-value);
  @include py($py-value);
}
