.Button {
  position: absolute !important;
  top: 12px;
  right: 12px;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.205em;
  font-size: 1rem;
}

.FaQListHead {
  position: relative;
}

/* -------------------------------------------------------------------------- */

@media (min-width: 60em) {
  .Button {
    top: 20px;
    right: 30px;
    width: 4rem;
    height: 4rem;
    padding: 0.5468em;
  }
}
