.FaQList {
  width: 100%;
  min-width: 33.9rem;
  margin-top: 3rem;
}

/* -------------------------------------------------------------------------- */

@media (min-width: 60em) {
  .FaQList {
    width: 90rem;
    margin-top: 5rem;
  }
}
