/* netflixIntro ------------------------------------------------------------- */
.netflixIntro {
  text-align: center;
}

.netflixIntro__description {
  /* margin-top: 6rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto; */
  margin: 6rem auto 0;
}

.netflixIntro h4 {
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 2.4rem;
  font-weight: bold;
}
/* :not(.downloadContent__text) */
.netflixIntro__description p {
  margin: 3rem auto 0;
  line-height: 1.5;
  letter-spacing: -0.04em;
  /* font-size: 1.6rem; */
}

.netflixIntro__figure {
  position: relative;
  width: 33.9rem;
  height: auto;
  margin: 1rem auto 6rem;
}

/* -------------------------------------------------------------------------- */

@media (min-width: 60em) {
  .netflixIntro .Container {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }

  .netflixIntro article {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }

  .netflixIntro__watchOnTV,
  .netflixIntro__watchOnDevice {
    flex-direction: row;
  }

  .netflixIntro__downLoadAndWatch--reverse {
    flex-direction: row-reverse;
  }

  .netflixIntro__figure {
    margin: 0;
    width: 48rem;
  }

  .netflixIntro {
    text-align: start;
  }

  .netflixIntro__description {
    margin: auto 0;
  }

  .netflixIntro h4 {
    margin-bottom: 0;
    font-size: 4.8rem;
  }

  .netflixIntro__description p {
    margin: 2rem 0 0;
    width: 45rem;
    font-size: 2.6rem;
    font-weight: normal;
  }
}
