.promotion {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 0;
}

.promotion__emailContainer {
  position: relative;
}

.promotion__emailContainer label {
  position: absolute;
  top: 13px;
  left: 20px;
  line-height: 1.35;
  letter-spacing: -0.04em;
  font-size: 1.3rem;
  color: var(--colorGray);
  transition: all 0.3s ease-in-out;
}

.promotion__emailContainer input {
  min-width: 22.8rem;
  border: 0;
  border-radius: 50px;
  padding: 1.2em 1.5384em 0.8461em;
  line-height: 135%;
  font-size: 13px;
}

/* .promotion__emailContainer input:focus + label  */
.promotion__emailContainer--focused label {
  top: 3px;
  left: 23px;
  font-size: 1.1rem;
}

.promotion__emailContainer input:focus + label,
.promotion__emailContainer--valid label,
.promotion__emailContainer--invalid label {
  top: 6px;
  left: 23px;
  font-size: 1.1rem;
}

.promotion__emailContainer input:valid {
  color: var(--colorBlack);
}

.promotion__emailContainer input:invalid {
  border-bottom: 3px solid var(--colorRed);
  color: var(--colorRed);
}

.promotion__emailContainer [role='alert'] {
  display: none;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.35;
  letter-spacing: -0.04em;
  color: var(--colorRed);
}

.promotion__emailContainer--invalid [role='alert'] {
  display: block;
}

.promotion__button {
  /* 버튼 초기화 */
  border: 0;
  /* 컴포넌트 스타일 */
  margin-top: 1rem;
  border-radius: 20px;
  padding: 0.75em 1.1666em;
  line-height: 1.35; /* line-height: 1; */
  font-size: 1.2rem;
  background: var(--colorRed);
  color: var(--colorWhite);
}

.promotion__button img {
  margin-left: 1rem; /* margin-left: 0.5rem; */
}

/* -------------------------------------------------------------------------- */

@media (min-width: 60em /* 960px/16 */) {
  .promotion {
    flex-direction: row;
    align-items: flex-start;
  }

  .promotion__emailContainer input {
    border-radius: 0;
    min-width: 31.25em; /* 33.75 - 1.25*2 = 31.25 */
    padding: 1.1875em 1.25em;
    font-size: 1.6rem;
  }

  .promotion__emailContainer label {
    font-size: 1.6rem;
    top: 20px;
  }

  .promotion__emailContainer input:focus + label,
  .promotion__emailContainer--valid label,
  .promotion__emailContainer--invalid label {
    top: 6px;
    left: 19px;
    font-size: 1.1rem;
  }

  .promotion__button {
    border-radius: 0;
    user-select: none;
    cursor: pointer;
    padding: 0.68em 0.909em;
    margin-top: 0;
    font-size: 2.2rem;
  }

  .promotion__button:hover {
    background: var(--colorVividRed);
  }

  .promotion__button img {
    width: 20px;
    height: auto;
  }
}
