// @use rule (모듈러)
@use './modules/base';
@use './modules/Message';
@use './modules/Button' with (
  $dark-theme: false
);

@use './modules/layout' with (
  $direction: left,
  $space: 10px
);

@use './modules/listControl';

// @import rule (불러오기)
@import './config';
@import './modules/alert';
// @import './modules/base';

// 변수($variables) ------------------
body {
  background: $blue;
  @include listControl.attach(hanna);
}

// 중첩 규칙(Nested Rule) -------------
nav {
  @include layout.float;
  ul {
    @include layout.float;
    // 이름공간(namespace) pattern
    @include base.resetList;
  }

  li {
    @include layout.float(right, null);
    display: inline-block;
  }

  a {
    @include layout.float;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }

  img {
    // 믹스인(mixin, 코드 섞어 넣기) pattern
    @include base.resetList;
    @include base.resetImg;
  }
}
